
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');
:root{
    --pretoPrincipal: #020301;
    --azulPrincipal: #b1d4e0;
    --cinzaPrincipal: #9A9da1;
    --amareloHouver: #ffd230;
    --cinzaLetra: #b7b6b6;
    --brancoLetras: #ffffff;
    --cinzaSeparacao:rgb(228, 228, 228);
    --cinzaFormulario:rgb(226, 226, 226);
    --azulAnimacao:rgb(154, 213, 229);
    --azulBotoes:rgb(5, 123, 202);
    --vermelhoLinks:rgb(247, 11, 11);
    --cinzaPlaceHolder:rgb(112, 111, 111);
    --cinzaLinha:#ddd;
    --cinzaLinha2:rgb(168, 166, 166);
    --cinzaLina3:rgba(97, 97, 97, 0.575);
    --cinzaHouver:#dee0e4;
}
*{
    margin: 0;
    padding: 0;
    font-family:Poppins,Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(180deg,#9A9da1,#dad8d8);
}
.conteudo,main{
    max-width: 980px;
    margin: 0 auto;
}
.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logoPrincipalPequeno{
    display: none;
}
#menuRetratil{
    display: none;
}
.caixaCorreta{
    background-color: rgb(212, 253, 212);
}
.caixaErrada{
    background-color: rgb(249, 208, 205);
    color: black;
}
.mensagemAjuda{
    background-color: black;
    color: white;
    font-size: 10px;
}
.textoErrado{
    font-weight: 700;
    color: rgb(76, 0, 0); 
}
